body {
    font-family: Arial;

}

.alerta {
    color: red;
}

#logo {
    text-align: center;
}

.oferta {
    padding-left: 10%;
}

.txtCorreo {
    height: 30px;
    width: 45%;
    margin-left: 0px;
    padding-left: 30px;
}

.txtEnviar {
    height: 33px;
    width: 5%;
    margin-left: 0px;
    padding-left: 10px;
}

/*ENCABEZADO*/
header {
    height: 100px;
    position: relative;
    background-image: url('../Imagenes/header.jpg');
    background-size:cover;

}

.izq {
    float: left;
    width: 33%;
}

.logo {
    margin-left: 40%;
    padding-top: 12px;
}

.sesion {
    float: right;
    width:30%;
    text-align: center;
    padding-top: 5px;
    vertical-align: middle;
}

.clear {
    clear: both;
}



/*DESPLEGABLE CUENTA*/

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    border-radius:7px;
}

    .dropdown-content a {
        text-decoration: none;
        color: #333;
    }

    .dropdown-content a:hover{
        font-size:18px;
        color:forestgreen;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

#correo {
    background-color: limegreen;
    color: white;
    padding: 10px 0;
}

footer{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 15px;
    height:20px;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    text-align: center;
    display:table;
    margin:auto;
}

    nav ul {
        list-style: none;
        
    }

        nav ul li {
            background-color: limegreen;
            width: 224px;
            height: 35px;
            float: left;
            line-height: 35px;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
        }

            nav ul li:hover {
                background-color: #b0fa26;
                color: black;
            }

            nav ul li a {
                text-decoration: none;
                color: #fff;
                display: block;
            }

                nav ul li a:hover {
                    background-color: #b0fa26;
                    color: black;
                }

        nav ul ul {
            position: absolute;
            display: none;
        }

        nav ul li > ul li {
            background-color: limegreen;
            color: #333;
            border:solid 1px white;
        }

        nav ul li:hover > ul {
            display: block;
        }

.contento {
    background: url('../Imagenes/fondo.jpg') repeat fixed;
    padding:30px;
}


.grilla {
    width: 100%;
}

    .grilla td {
        text-align: center;
    }

        .grilla td span {
            font-weight: bold;
        }

#registrar{
    text-align:center;
}
.fondo {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 51px 49px;
    -webkit-border-radius: 50px 50px 51px 49px;
    border: 2px solid #968d96;
    background-color: white;
    margin-left: 90px;
    margin-top: 20px;
    width: 250px;
    margin-bottom:10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:10px;
    margin-top:10px;
}

.button:hover {
        background-color: #3e8e41;
    }

.contText{
    padding:40px;
    text-align:justify;
    font-family:Tahoma;
    width:60%;
    display:inline-block;
}

.contImg {
    width: 30%;
    display:inline-block;
    vertical-align:top;
    padding-top:60px;
}

h1{
    padding:30px 0 0 40px;
}

p{
    padding:6px;
}

.ib {    
    display: inline-block;
    font-size: 18px;
    padding: 2em 0 0 2em;
    width: 30%;
    text-align:right;
}

.ib-ib {
    display: inline-block;
    width: 30%;
    height:100px;
    padding-left:40px;
}

.mensaje {
    display: inline-block;
    font-size: 18px;
    padding: 2em 0 0 2em;
    width: 63%;
    text-align: right;
}

.textBox{
    border-radius:7px;
    height:25px;
    border: solid 1px limegreen;
    margin-left:4px;
    width:70%;
}

.clear{
    clear:both;
}

.delivery{
   width:100%;
}

.cont_ofertas {
    margin: auto;
    margin-left: 30px;
    width:80%;
    float:right;
}

    .cont_ofertas:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
    }


h2, span .nombre{
    text-align:center;
    font-size:medium;
    font-weight:normal;
}

.quienessomos{
    text-align:center;

}

td {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    width: 50%;
}

    td.first {
        border-right: 5px solid forestgreen;
    }

h1{
    font-family:'Franklin Gothic';
}
#publicidad {
    
    text-align:center;
  
}
#imag {
    
    padding-top: 3%;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#imag img{
    border-radius:40px;
}

#desc-p {
    padding-top: 3%;
    width: 38%;
    display: inline-block;
}

